body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  color: aliceblue;
  font-size: 30px;
}
button {
  background-color: bisque;
  color: #111;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
}